
@{
    ViewBag.Title = "Zaboravljena_lozinka";
}

<div class="form-page">
    <h2 class="page-title"><span class="title-red">PAUP</span> <span class="title-blue">projekt</span></h2>
    <h3><span class="label label-primary">Upišite valjanu e-mail adresu</span></h3>
    <form>
        <div class="form-group">

            <input type="email" class="form-control" name="email" placeholder="Vaša e-mail adresa">
        </div>
       


        <button type="submit" class="btn btn-danger">Prijava</button>

    </form>

    <ul class="nav nav-pills">
        <li role="presentation">@Html.ActionLink("Prijava", "Prijava", "Prijava")</li>
        <li role="presentation"class="disabled"><a href="#">Zaboravio lozinku</a></li>
        <li role="presentation">@Html.ActionLink("Registracija", "Registracija", "Prijava")</li>
    </ul>
</div>

