

@using Racun_kec_test.Models
@model IEnumerable<Racun_kec_test.Models.Korisnik>
@{
    ViewBag.Title = "index_korisnik";
}

<p align="right" style="float:right">
    @Html.ActionLink("[+] Kreiraj novi račun", "Create", "Racun", null, new { @class = "btn primary" })

</p>

<h2>Dashboard</h2>

<table width="100%" class="dashboard">
    <tr>
        <td width="50%">


            <h3>Latest proposals</h3>
           
        </td>
        
           

           
    </tr>
</table>
